<div class="main-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 shopping-cart-item-section">
        <shopping-cart-item [products]="products"
                            (events)="onShoppingCartItemEvent($event)">
        </shopping-cart-item>
      </div>
      <div class="col-lg-6 shopping-cart-section">
        <shopping-cart [shoppingCart]="shoppingCart"
                       (events)="onShoppingCartEvent($event)"></shopping-cart>
      </div>
    </div>
  </div>
</div>
